
# ==============================================================================
# PUERTOS (Variables para Docker Compose)
# ==============================================================================
COMPOSE_PROFILES=production # Cambiar a production si el ambiente es produccion
PROJECT_NAME=kronos
PORT_WEB=9010
VITE_APP_DOMAIN=https://localhost

