
# ==============================================================================
# PUERTOS (Variables para Docker Compose)
# ==============================================================================
PROJECT_NAME=krono
PORT_WEB=9010

