@import "tailwindcss";

@theme {
  --color-primary:  var(--primary);
  --color-on-primary:  var(--on-primary);
  --color-background:  var(--background);
  --color-surface:  var(--surface);
  --color-on-surface:  var(--on-surface);
  --color-surface-container:  var(--surface-container);
  --color-surface-container-high:  var(--surface-container-high);
  --color-on-surface-variant:  var(--on-surface-variant);
  --color-outline-variant:  var(--outline-variant);
  --color-outline:  var(--outline);

  /* Tipografías */
  --font-body: "Geist", sans-serif;
  --font-display: "Geist", sans-serif;
  --font-label: "JetBrains Mono", monospace;
}

/* ==========================================
   CONFIGURACIÓN DE TEMAS (VALORES)
   ========================================== */
:root {
  --primary: #3366cc;
  --on-primary: #ffffff;
  --background: #080808;
  --surface: #131313;
  --on-surface: #e5e2e1;
  --surface-container: #201f1f;
  --surface-container-high: #2a2a2a;
  --on-surface-variant: #c3c6d5;
  --outline-variant: #434653;
  --outline: #8d909e;
}


.light {
  --primary: #3366cc; 
  --on-primary: #201f1f;
  --background: #f5f5f7; 
  --surface: #ffffff;    
  --on-surface: #434343; 
  --surface-container: #e8e8ed; 
  --surface-container-high: #e5e5e7;
  --on-surface-variant: #4a4b4f;
  --outline: #e5e5e7;           
  --outline-variant: #e5e5e7;   
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-on-surface);
    transition: background-color 0.3s ease, color 0.3s ease; 
  }
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
/* Efectos */
.glow-primary {
  box-shadow: 0 0 15px rgba(206, 238, 139, 0.4);
}

.glow-heavy {
  box-shadow: 0 0 25px rgba(206, 238, 139, 0.6);
}

/* Custom scrollbar */
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #000000; }
::-webkit-scrollbar-thumb { background: #ceee8b; }

:root {
  background-color: var(--color-background);
}

body {
  margin: 0;
  min-height: 100vh;
}