@import "tailwindcss";

@import "tailwindcss";

@theme {
  /* ==========================================
     KRONOS DESIGN SYSTEM
     ========================================== */
  
  /* Colores */
  --color-primary: #3366cc;
  --color-on-primary: #ffffff;
  --color-background: #080808;
  --color-surface: #131313;
  --color-on-surface: #e5e2e1;
  --color-surface-container: #201f1f;
  --color-surface-container-high: #2a2a2a;
  --color-on-surface-variant: #c3c6d5;
  --color-outline-variant: #434653;
  --color-outline: #8d909e;

  /* Tipografías */
  --font-body: "Geist", sans-serif;
  --font-display: "Geist", sans-serif;
  --font-headline: "Geist", sans-serif;
  --font-label-caps: "JetBrains Mono", monospace;
  --font-label: "JetBrains Mono", monospace;
  --font-numeric-data: "Geist", sans-serif;
}

/* ==========================================
   ESTILOS BASE
   ========================================== */
@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-on-surface);
    font-family: var(--font-body);
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
  }

  /* Personalización de la selección de texto */
  ::selection {
    background-color: rgba(51, 102, 204, 0.2); /* primary/20 */
    color: var(--color-on-primary);
  }
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  /* Configuración del estilo de línea  */
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
/* Efectos */
.glow-primary {
  box-shadow: 0 0 15px rgba(206, 238, 139, 0.4);
}

.glow-heavy {
  box-shadow: 0 0 25px rgba(206, 238, 139, 0.6);
}

/* Custom scrollbar */
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #000000; }
::-webkit-scrollbar-thumb { background: #ceee8b; }

:root {
  background-color: var(--color-background);
}

body {
  margin: 0;
  min-height: 100vh;
}